
#googlem_holder{
    background-color: #9f9f9f;
    box-shadow: #a6a6a6;
    bottom:0;

    right: 0;
    z-index: 20;
    /*width:750px;
    height:300px;
    position: absolute;*/

}


#google_map{
    margin: 5px 5px 0 10px;
}

