
#content_holder {
    /*margin: 5px 5px 0px 0px;
    padding:2px;
    border: 2px solid #d0d0d0;
    border-radius:5px;
    height: 700px;
    position: relative;*/
    overflow:scroll;

}

#menuBar{
    position: absolute;
    top: 20px;
    right:25px;
    width : 200px;
    height: 200px;
    z-index: 10;
    overflow: hidden;
    border: 2px solid #d0d0d0;
    background-color: #e2e3e8;
    box-shadow: 1px 1px 5px #adadad;

}

#navg_bar {
    height: 200px;
    position: absolute;
    top: 70px;

}

.navg_button {
padding-top: 7px;
    display: inline-block;
    align-content: center;
    height: 25px;;
    width: 200px;;
    color: #000000;
    font-size: 14px;
    font-family: Helvetica,Arial,sans-serif;
    font-weight: 200;
    line-height: 1em;
    cursor: pointer;
    text-align:center;
    border-bottom: 2px solid #d0d0d0;
}

.selectedBtn {
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0.05, #DEEBF7),color-stop(1, #DEEBF7));
}



#fcl_logo {
    padding: 10px;
    width: 180px;;
    height: 50px;
    top: 0;
    right:0;
    overflow:hidden;
    position: absolute;
    border-bottom: 2px solid #d0d0d0;
}

#map_container {
    position: absolute;
    top: 0;
    left: 0;
    width : 100%;
    height: 100%;
    overflow: scroll;

}

.legend {
    bottom: 10px;
    left: 40px;
    margin: 5px 5px 0px 0px;
    padding:2px;
    z-index: 10;
    position: absolute;

}


#time_slider {
    /*margin: 5px 5px 0px 0px;
    padding:2px;
    border: 1px solid #d0d0d0;
    border-radius:5px;*/
    width:75%;
    height: 50px;
    bottom: 4%;
    right: 2%;
    overflow:hidden;
    z-index: 10;
    position: absolute;
}

#play_stopBtn {

    width:20px;
    height: 20px;
    bottom:5%;
    right: 4%;
    z-index: 10;
    position:absolute;
    border:2px;
    border-color: transparent;

}

#replay_Btn {
    width:30px;
    height: 30px;
    bottom:4.5%;
    right: 1%;
    z-index: 10;
    position:absolute;
    border:2px;
    border-color: lightseagreen;
    overflow: visible;

}


.hidden {
     display: none;
 }


.graticule {
    fill: none;
    stroke: #bbb;
    stroke-width: .5px;
    stroke-opacity: .5;
}

.equator {
    stroke: #ccc;
    stroke-width: 1px;
}

.legend-bg {
    fill: #fff;
    fill-opacity: 0.8;
}

.legend-bar {
    stroke: #333;
    stroke-width: 1px;
}

