
#content_holder {
    overflow:scroll;
}

*{
    padding:0;
    margin:0;
}

nav{
    border: 2px solid #1f2933;
    background-color: #1f2933;
    box-shadow: 1px 1px 5px #606060;
    font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
    line-height: 1.5;
    position: absolute;
    z-index: 30;
    top:10px;
    right: 40px;
    width: 200px;
    -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    -moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.2);

}

.menu-item {
    width: 200px;
    border-top: 2px solid #010101;

}

/*Menu Header Styles*/
.menu-item h4 {

    color: #fff;
    font-size: 15px;
    font-weight: 500;

    text-align: left;
}

.menu-item h4 a {
    margin-left:20px ;
    color: white;
    display: block;
    text-decoration: none;
    width: 200px;

}

.menu-item:hover h4{
    background-color: #d0d0d0;
}

/*ul Styles*/
.menu-item ul {
    background: #1f2933;
    font-size: 13px;
    line-height: 30px;
    list-style-type: none;
    overflow: hidden;
    padding: 0;
    height: 0; /*Collapses the menu*/
    /*Animation*/
    -webkit-transition: height 0.2s ease;
    -moz-transition: height 0.2s ease;
    -o-transition: height 0.2s ease;
    -ms-transition: height 0.2s ease;
    transition: height 0.2s ease;

}


.menu-item ul a {
    margin-left: 20px;
    text-decoration: none;
    color: #aaa;
    display: block;
    width: 200px;
}

/*li Styles*/
.menu-item li {
    border-bottom: 1px solid #010101;
}


.selectedBtn {
    background-color: #cccccc;
}

#map_container {
    position: absolute;
    top: 0;
    left: 0;
    width : 100%;
    height: 100%;
    overflow: scroll;

}

legend {
    z-index: 30;
    font-size: 12px;

}



.play_stopBtn {

    width:20px;
    height: 20px;
    bottom:5%;
    right: 4%;
    z-index: 10;
    position:absolute;
    border:2px;
    border-color: transparent;

}

.replay_Btn {
    width:30px;
    height: 30px;
    bottom:4.5%;
    right: 1%;
    z-index: 10;
    position:absolute;
    border:2px;
    border-color: lightseagreen;
    overflow: visible;

}


.hidden {
     display: none;
 }


.graticule {
    fill: none;
    stroke: #bbb;
    stroke-width: .5px;
    stroke-opacity: .5;
}

.equator {
    stroke: #ccc;
    stroke-width: 1px;
}

.legend-bg {
    fill: #fff;
    fill-opacity: 0.8;
}

.legend-bar {
    stroke: #333;
    stroke-width: 1px;
}

